# Dependencias
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
dist
build

# Archivos de entorno (sensibles)
.env
.env.*
!.env.example

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Logs
logs
*.log

# OS / Editor
.DS_Store
Thumbs.db
.vscode
.idea

# Tests / coverage
coverage

# Misc
*.local
*.tsbuildinfo